<div class="relative grid m-auto shadow-1 bg-white border-round p-3 w-8" style="top: -70px">
    <div class="col-12">
        <p class="m-0 text-color-secondary">Search by manufacture or model</p>
    </div>

    <div class="col-12 md:col-10">
        <p-inputGroup>
            <p-inputGroupAddon class="bg-white" >
                <i class="pi pi-search"></i>
            </p-inputGroupAddon>

            <input type="text" class="w-full" placeholder="Honda Civ..."  pInputText />
        </p-inputGroup>
    </div>

    <div class="col-12 md:col-2">
        <p-button label="Search" styleClass="w-full" />
    </div>
</div>